body {
	margin: 0;
	max-width: 100%;
}
#galaxy-blue {
	background: radial-gradient(ellipse at bottom, #040b14 20%, #020407 100%);
}

#home-header {
    position: absolute;
    top: 0;
    left: 0;
    background: url(../media/Asset\ 1.svg) left top / contain no-repeat;
    width: 506px;
	max-width: 100vw;
    height: 125px;
    z-index: 1;
}
#logo-container {
	width: 80%;
	height: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
}
#logo {
	max-width: 300px;
}

main {
	height: 700px;
	min-height: 100vh;
}

/* ======= HOME INTERFACE ======= */
#home-interface {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
#home-interface .container {
	display: grid;
	grid-template-columns: 4fr 1fr;
	grid-template-rows: 56fr 60fr;
	grid-gap: 10px;
	grid-template-areas:
	"graphic designer"
	"web designer";
}
#home-interface	#graphic {
	grid-area: graphic;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}
#home-interface #web {
	grid-area: web;
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
}
#home-interface #web svg, #home-interface #graphic svg {
	height: 23vw;
}
#home-interface #designer {
	grid-area: designer;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	height: 100%;
}
#home-interface #designer svg {
	height: 50vw;
}

@media screen and (min-width: 1400px) {
	#home-interface #web svg, #home-interface #graphic svg {
		height: 13vw;
	}
	#home-interface #designer svg {
		height: 30vw;
	}
}

#home-interface a svg {
	transition-duration:.3s;
	filter: drop-shadow(0 0 5px rgba(115,126,145,0));
}
#home-interface a svg .cls-1 {
	fill:#fff;
}
#home-interface a svg .cls-2 {
	fill:none;
	stroke:#212e44;
	stroke-miterlimit:10;
	stroke-width:2.83px;
}
#home-interface a .cls-2 {
	transition-duration:.5s;
}
#home-interface a:hover svg {
	filter: drop-shadow(0 0 5px rgba(158, 212, 216, 0.75));
}
#home-interface a:hover .cls-2 {
	stroke: #8eb1be;
}